extends layout
block content
	.container
		.dash
			.seven.columns
				h1.semi Quiz tym
				h5 Don't reload this page. 
				//- br
				h5.blue#time

			.u-cf

			#dashstuff
				.row
					.flex-center
						.six.columns
							form#regForm(action='/quiz' method="POST")
								.tab
									.card.noselect
										h3.semi Question 0
										p School Name
										input(type="text" name="ans0" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 1
										p X  is a series of first-person shooter video games developed and published by Y, intended to inform, educate, and recruit people. Launched in 2002, the game was branded as a strategic communication device designed to allow Americans to virtually explore Y at their own pace, and allowed them to determine whether joining fits their interests and abilities.  X represents the first large-scale use of game technology by Y as a platform for strategic communication and recruitment. Give X and Y.
										input(type="text" name="ans1" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 2
										p Which website's logo was this, which also is the reason for 1/3rd of present day divorces? Who is this person?
										img(src="https://i.imgur.com/rPfSMxJ.png" alt="" style="width: 100%")
										input(type="text" name="ans2" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 3
										p X is a very important person in the tech environment, and should be well known by everyone on the internet, though people have difficulty saying who she is. While most know her as the CEO of Y, not many know that in her garage, the technological giant Z that owns Y was born. Who is X? What is Z?
										input(type="text" name="ans3" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 4
										p X, is a measurement of time, referring to the length of a single cycle of a computer’s clock, said to be around 10 milliseconds, however this fact is relatively unknown. In physics, X has a different definition said to be the amount of time it takes for light to travel 1 centimetre, ID X. 
										input(type="text" name="ans4" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 5
										p X is a high-risk hostile takeover defense tactic that involves the target company attempting to acquire control of the company that bid for it by purchasing large amounts of its stock, named after a game where your character eats everything in front of him. Give X
										input(type="text" name="ans5" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 6
										p A Chinese term, "Ten-Thousand Dimensional Net Covering Heaven and Earth" refers to something that we see everyday. What is the term in english?
										input(type="text" name="ans6" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 7
										p X, a popular company that started in the 19th century was arguably one of the largest players in the _____________ industry initially started off with selling toilet paper. ID X, which is the pride of its country and has a CEO sharing a name with an enraged armoured assassin killing knight. Give X.
										input(type="text" name="ans7" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 8
										p Les Horribles Cernettes, or "The Horrible CERN Girls" was an all-female parody pop group, which was founded by employees of CERN and performed at CERN and other HEP-related events. What was their true claim to fame, given in this image?
										img(src="https://i.imgur.com/53UNUHp.png" alt="" style="width: 100%")
										input(type="text" name="ans8" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 9
										p X is a game that took off in popularity a few years ago due to the streaming community. X is strange, as it is a very competitive browser based guessing game, and it also completely based off of a different software that we use for navigation. The game has also been described as a _____________ educational tool, and players learn location-specific characteristics such as writing systems, soil types, and flora of different areas. What is X?
										input(type="text" name="ans9" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 10
										p  X is an automobile company that has recently given a way to have heated seats in their cars, but despite being a very requested feature, this is not very liked by most people, due to the implementation of this feature. This implementation is remniscent of something from Black Mirror, and most TV shows you'll see nowdays will be via this method. What is the method? What is X?
										input(type="text" name="ans10" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 11
										p In light of the Roe V Wade controversy, this Californian giant has taken a big step not only to protect it’s privacy but fight back against the unfair outcomes of the given ruling. The process works by automatically deleting certain bits of data when actions are performed so as to protect both the individual and help them combat their crisis without further headaches. Identify what is being talked about Here.
										input(type="text" name="ans11" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 12
										p X is a term used for an old person using the internet, being a play on words referring to the hair and the action performed by then, as in scrolling through the internet taken literally and presented with the help of a fictional character, who’s name represents the phrase in its essence.
										input(type="text" name="ans12" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 13
										p X is the fundamental unit of life for Y. Each X has a specific set of characteristics – genes, that determine the features possessed by Y. There is a lot of depth to an X as it describes the colours of Y’s life. Together, thousands of X form one Y. Name X and Y
										input(type="text" name="ans13" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 14
										p In 2011, Sohaib Athar was making the most of the late-night calm to get some work done. As his wife and son slept, he heard the whir and chop of rotor blades above the two-story house where they lived. Strange, he thought, for an aircraft to be flying so low over a residential area in this sleepy, unknown town. He checked the time: it was well past midnight. "Helicopter hovering above ____________ at 1AM (is a rare event)," he tweeted. What did Sohaib Athar tweet about, unwittingly becoming the first person to cover this piece of international news?
										input(type="text" name="ans14" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 15
										p  What is the noise played with these notes, that indicates ending, and closing of something, though most of us are too young to have heard it directly.
										img(src="https://i.imgur.com/oK8eWd9.png" alt="" style="width: 100%")
										input(type="text" name="ans15" placeholder="Answer")

								
								.flex-center
									//- button.button-primary.save.cool#prevBtn(type='button' onclick='nextPrev(-1)') Previous
									button.button-primary.save.cool#nextBtn(type='button' onclick='nextPrev(1)') Next

	script(src="/js/main.js")
