extends layout
block content
	.container
		.dash
			.seven.columns
				h1.semi Quiz tym
				h5 Don't reload this page. 
				//- br
				h5.blue#time

			.u-cf

			#dashstuff
				.row
					.flex-center
						.six.columns
							form#regForm(action='/quiz' method="POST")
								.tab
									.card.noselect
										h3.semi Question 0
										p School Name
										input(type="text" name="ans0" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 1
										p X is a method used to encode text characters as standardized sequences of two different signal durations. X is named after Y its inventor and one of the inventors of the telegraph. According to popular controversy, Alfred Vail another giant in the 19th-century American telegraphy scene, invented X and not Y who is generally attributed the credit for the invention of X. Find X and Y
										input(type="text" name="ans1" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 2
										p The original concept of X was created by a Google graphic designer, who took inspiration from a plastic toy. She modified the toy's design to create the now-famous, X. The character which also looks like the male bathroom symbol was first introduced in 2007, a few months after the release of the first iPhone—ID X.
										input(type="text" name="ans2" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 3 ⭐
										p X is simply one of the most important people in the tech sphere. He founded the non-profit company Y and spearheaded a trident of tech innovations. These include one of the largest and fastest web browsers in the world, the most popular programming language today, and another alternative browser that is known for its privacy, security, and ad blocking. Curiously, Y's logo does not match up with its name. X was forced out of Y in 2014 over certain personal views that were considered controversial. identify X and Y.
										input(type="text" name="ans3" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 4
										p X was a popular social media platform released in 2011 by 3 college friends whose purpose was to send explicit photos that would eventually disappear but due to trademark concerns, the founders had to relaunch X in the form of Y. Further, one founder of Y was kicked out of the company because his contribution was too little. Later he sued the company in 2013 and made $157.5 Million from it. Identify X and Y. 
										input(type="text" name="ans4" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 5
										p A reduced attention span among the new generation has caused TikTok and Instagram Reels to boost in popularity but one un-noticed change that this short content format has brought is the change in the music industry. Today most of the songs either have a hook or a cliff because of an effect known as X. Identify X
										input(type="text" name="ans5" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 6
										p Paramount Studios released a science fiction series in September 1966. It featured people boarding a spaceship on a 5-year mission to go where no man has gone before. In 2014 company Y released product Z, a fun fact about product Z is that it took inspiration from the computer voice and conversational system featured in the show. Further, the name of the product Z literally translates to ‘defender of mankind’. Identify Y, and Z.
										input(type="text" name="ans6" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 7
										p "The hardest decision I ever made was picking X and Y. The guys at X fought for me and Y wished me the best of luck. In that moment I realized that even though I have been with Y for 3+ years I didn't specifically feel loved by Y they never reached out to me even when I made them the most money anyone has ever done in a month, that's why I went with X." This was said by a popular internet when asked why he left X. ID the personality one of the online platforms.
										input(type="text" name="ans7" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 8 ⭐
										p X is a company whose name evokes simplicity and ease, akin to a phrase often used to describe something very easy to do. This entity made waves in the e-commerce world with its user-friendly platform, allowing businesses to manage payments effortlessly. In a significant turn of events, a major fintech company, Y founded by 2 brothers is an American multinational financial services and software as a service company dual-headquartered in San Francisco, and Dublin added X to its portfolio in July 2024, integrating its services seamlessly. Y is also known for working closely with the british government and processing payments for many of its agencies and departments. Identify both X and Y.
										input(type="text" name="ans8" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 9
										p X is a keyboard layout, created in the 1930s by an American professor and his brother-in-law, aimed to reduce finger movement and increase typing efficiency. Despite its ergonomic advantages, X did not gain widespread adoption. The layout places the most commonly used letters on the home row and was officially recognized by the American National Standards Institute in 1982. This layout was designed to address the inefficiencies of its predecessor, but users often found the transition challenging due to muscle memory and the prevalence of the older layout. What is X
										input(type="text" name="ans9" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 10 ⭐
										p  Founded in 1994 at Carnegie Mellon University, this early search engine was one of the first to offer a comprehensive directory of websites. It was named after the Greek word for "wolf" and was known for its distinctive logo featuring a dog. Despite its early success, it was eventually overshadowed by newer search engines because it was run by people who were too focused on sales and ads rather than the engineering side of the engine. What is the name of this search engine?
										input(type="text" name="ans10" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 11 ⭐
										p Apple, one of the tech market's most influential companies having twice the amount of money possessed by the US Treasury had not 2 but 3 Co-founders. X the third Co-founder of Apple owned 10% of it in those days. He contributed to the logo, manual, and major parts of developing gadgets. He fled the company just 12 days after it was launched because of the financial risks and preferring engineering over administrative tasks, he sold his stake for $800. ID X
										input(type="text" name="ans11" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 12
										p X was originally written in JavaScript and CSS over a weekend, a single-player tile puzzle video game written by Italian web developer Gabriele Cirulli and published on GitHub. A common strategy among players is to build up a high score in one corner. It doesn't matter what corner you pick, but once you pick, stick with it. X is also considered a staple video game for moms but is widely loved by all ages. ID X.
										input(type="text" name="ans12" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 13
										p X first appeared on the Internet in 2010, in a blog post by a random Instagram user. The image featured a reclining X with a very strange leery expression. X’s popularity spiked in 2013 when users bombarded images of X with the words ‘so,’ ‘such,’ ‘many,’ ‘much,’ and ‘very’ – common English modifiers – along with a comment they can’t correctly modify, creating ‘X grammar.’ The increased online searches for the X meme didn’t escape the notice of Google, who made an Easter egg. When ‘X’ was typed into the search bar, the font changed to Comic Sans in X’s honor. Sadly X died in May 2024 bringing tears to many people's eyes.  ID X who/which also won Meme of the Year in 2013.
										input(type="text" name="ans13" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 14
										p X is a research project, started in 1996 by two Stanford University Ph.D. students, aimed to improve the process of ranking web pages. The idea was to assess the importance and relevance of a webpage based on the number and quality of links directed towards it from other sites (backlinks). it was later rebranded to a name Y that has since become habituated with internet searches. Identify X and Y.
										input(type="text" name="ans14" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 15 ⭐
										p  In 1984, X was conceived as the "ultimate dinner party". Initially, it attracted some of the most distinguished guests, including luminaries from Silicon Valley and Hollywood's film industry. Despite numerous attempts to organize a successful conference over the years, which were met with failure, the event was eventually sold to the Sapling Foundation in 2001 run by Chris Anderson. This foundation facilitated the growth of X, allowing it to transcend geographical boundaries. Today, it serves as a platform where world-changing ideas are delivered in 18-minute segments Moreover, it has achieved significant acclaim on YouTube. Identify X.
										input(type="text" name="ans15" placeholder="Answer")
								
								.tab
									.card.noselect
										h3.semi Question 16
										p  X was a humorous but fictional challenge that gained traction on TikTok in July 2020. It was initiated by a user named OkCron, who posted daily videos pretending to do the challenge. This trend continued into 2021, gaining even more popularity, but some people decided to take the challenge seriously. This led to headlines such as ‘X’ jokes are all over TikTok some doctors urge users not to try it for real from news channels such as NBC. A game was launched on this trend by OkCron himself where players use things like the Rizz Bow to break your enemies' hearts, or the Stained Briefs for some messy fun—ID X.
										input(type="text" name="ans16" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 17
										p X' is a group of nine tiny islands in the Pacific Ocean. This place is famously known for its airport runway, which is used as a playground in the evening where people gather, chat, and participate in different sporting activities. There isn't much going on here, and only two direct flights a week are scheduled for this destination. All these factors have made it one of the least visited places in the entire world. However, its primary source of revenue is often seen as a blessing in disguise, as it was realized much later and happened by chance. X makes millions of dollars annually from 'Y,' something to which only X has exclusive rights. Due to its singularity, Y is one of the most sought-after things in the world. Identify X and Y.
										input(type="text" name="ans17" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 18
										p  In the early 2000s, X a direct democracy had seen a massive boom in its banking sector. However, when the 2008 global financial arrived, it exposed the fragility of X’s banking sector and a major crash of X’s currency. This led to X redesigning its entire constitution. However, the method adopted for this change was very unique as X used one of the most innovative ways to draft its new constitution. X invited its citizens to present their ideas and suggest changes through Y, a very popular source of communication and transmitting information which according to many lawyers is also the leading cause of divorces in the USA.  Almost two-thirds of X’s citizens were users of Y, and Y facilitated a smooth operation in drafting the new constitution which helped in financial reforms. Identify X and Y.
										input(type="text" name="ans18" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 19 ⭐
										p  Following GameStop’s sudden announcement that it would be shutting down Y after 33 years — which includes GameStop making all of the work on Y's website disappear and reportedly laying off the entire staff — people across the video game industry are sharing their tributes to Y. “Thank you for what you have brought to the video game industry,” said the official Konami account on X. “We will never stop fondly reminiscing about waiting for that next issue to arrive in the mail. Your legacy and impact will forever remain.” The accounts for Discord, Cyberpunk 2077, Assassin’s Creed, Metacritic, and X Gaming saluted Y, too. ID Y.

										input(type="text" name="ans19" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 20
										p  15 years ago, Alan Schaaf, a user of a popular online forum, X, known for its endless streams of debates, cat pictures, and memes noticed a problem - users felt that sharing images was rather complicated. So, one night, he decided to come up with a solution, something special, a gift to X that had become his online home. With a single post, he introduced Y - a website accessible to everyone for free which became the staple of the internet and is still used widely today. Identify X and Y.
										input(type="text" name="ans20" placeholder="Answer")

								
								.flex-center
									//- button.button-primary.save.cool#prevBtn(type='button' onclick='nextPrev(-1)') Previous
									button.button-primary.save.cool#nextBtn(type='button' onclick='nextPrev(1)') Next

	script(src="/js/main.js")
