extends layout
block content
	.container
		.dash
			.seven.columns
				h1.semi Quiz tym
				h5 Don't reload this page. 
				//- br
				h5.blue#time

			.u-cf

			#dashstuff
				.row
					.flex-center
						.six.columns
							form#regForm(action='/quiz' method="POST")
								.tab
									.card.noselect
										h3.semi Question 0
										p School Name
										input(type="text" name="ans0" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 1
										p On March 24, 2014, ‘X’ promoted ‘Y’ to the role of CEO. This led to boycotts and protests from the LGBT community and its supporters, as ‘Y’ previously donated US$1,000 of his own money in 2008 in support of California's Proposition 8, a California ballot proposition and state constitutional amendment in opposition to same-sex marriage. leading to angry responses on Twitter—including the use of the hashtag "#wontworkwithbigots". ‘X’ is an iconic Tech company; you may better know it by its flagship project which uses a red panda as the logo. ‘Y’ is also a legendary figure who is credited for the creation of a popular programming language, now used as one of the core technologies of the world wide web. ID X, Y
										input(type="text" name="ans1" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 2
										p The first known usage of the program X can be found in the book published in 1972, "A tutorial to the language B" by Brian Kernighan. X is used to test the sanity of the language to make sure that the operator understands how to use it. Whilst learning a new language, X is commonly used to understand program syntax and structure. ID X
										input(type="text" name="ans2" placeholder="Answer")
								.tab
									.card.noselect
										h3.semi Question 3
										p X is a mobile game development company based in Helsinki. Founded in 2010, the company's debut game was the browser game Gunshine.net, and after its release in 2011, and the eventual failure, X focused on developing games for the iPad, seeing Zynga's market leadership in games on the Facebook platform. Since then, the company has fully released five games which have all been very successful for the company. X focuses on the development of free-to-play games that yield profits through the in-game micropayments. The company's objective is to focus on the successful games that stay popular for years, which it has seemed to fulfill Give X. Bonus points for naming X's most popular game.
										input(type="text" name="ans3" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 4
										p What did the pony survive? What is being talked about here?
										img(src="https://i.imgur.com/E6408Pn.png" alt="" style="width: 100%")
										input(type="text" name="ans4" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 5
										p X is an identification software owned by Apple Inc. The application identifies music, movies, advertising, and television shows. Based on a short sample played, it hears using the microphone on the device and identifies songs based on an audio fingerprint based on a spectrogram. X stores a catalogue of audio fingerprints in a database. The user tags a song for 10 seconds and the application creates an audio fingerprint. Give X.
										input(type="text" name="ans5" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 6
										p Within its offices of GooglePlex, there exists something really strange, that does not mix well with Google's technologically advanced vibe. It's a reminder to the past, a way for the employees to always strive to be the complete opposite of the fallen giant that they see, too never become irrelevant. However, this thing (X) is not completely foreign to Google. In fact, X is something we all saw in times of distress, when we were shut out by the rest of the world and left to stay in our own reality. It was somewhat inspired by this thing. What is being referred to? **
										input(type="text" name="ans6" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 7
										p Connect.
										img(src="https://i.imgur.com/vFy64DX.png" alt="" style="width: 100%")
										input(type="text" name="ans7" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 8
										p X was a Swedish think tank established to support the free sharing of information, culture, and intellectual property. In 2003, they moved on to become the most popular site that shares audio, video, software, and electronic games, with newly released movies and recently transmitted television programs through peer-to-peer file sharing. In 2007 a rumor was confirmed site had received financial support from right-wing entrepreneur Y. This caused some consternation since Y, an heir to the Wasabröd fortune, is known for financing several far-right political parties and movements. X’s  spokesman Tobias Andersson acknowledged that "without Y’s support, the site would not have been able to start". ID X, Y **
										input(type="text" name="ans8" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 9
										p A few years ago, X left a rating on a game that would sawn an endless surge of memes based on it. X basically said that one of the main parts of the game, one of the things that made it unique was a major flaw. Not only that, it also coicided with the themes and objectives of one of the main villains! This has been mocked by the game developers, as in the next mainline games, the newly introduced photography feature allowed you to take photos at specific spots and the game would generate fake online ratings, and if the photo contained a water body, the ratings that would come would sometimes have the iconic line that X said. What was the line/rating?
										input(type="text" name="ans9" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 10
										img(src="https://i.imgur.com/dRJGCeg.jpg" alt="" style="width: 100%")
										input(type="text" name="ans10" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 11
										p X is one of the largest american IT company. Something that is lesser known about it is its alleged role in the holocaust. Much of the attention focuses on the role of X’s German subsidiary, known as Deutsche Hollerith Maschinen Gesellschaft, or Y. In a 2001 book by Edwin Black, the Y was accused of helping Nazis document & organise its effort which aided their war effort and allowed them to commit atrocities. Many have reached the conclusion that Y's commercial activities in Germany during World War II make it morally complicit in the Holocaust. Give X and Y.
										input(type="text" name="ans11" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 12
										p X is a videogame developer (not distributor) widely known for the creation of  JRPGs which have collectively become part of a massive media franchise. Prior to the company's inception, its creators published a videogame magazine of the same name in the 1980s. Apart from JRPGs, the developer is also known for releasing Y, a puzzle game featuring a green character prominently displayed as a sidekick to one of videogames' most famous protagonists. ID X.
										input(type="text" name="ans12" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 13
										p Give Funda **
										img(src="https://i.imgur.com/DLe2YJL.png" alt="" style="width: 100%")
										input(type="text" name="ans13" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 14
										p "I use it everyday", says whistleblower Edward Snowden. Even backed by Jack Dorsey, and endorsed by Elon Musk for how well built it is in addition to its open source nature, X is a successor to the RedPhone encrypted voice calling app. The beta version was released by Whisper Systems, a startup that produced a firewall and tools for encryptions. Whisper Systems was taken over by Twitter in 2011, "to improve the security". X popularized in the United States during the George Floyd protests due to heightened awareness of police monitoring, which led protesters to use the program to communicate. In June 2020, X Foundation announced a new feature that enables users to blur faces in photos, in response to increased federal efforts to monitor protesters. 2021 saw a huge surge of users due to multiple global controversies and rumours of rival companies. What is X? 
										input(type="text" name="ans14" placeholder="Answer")

								.tab
									.card.noselect
										h3.semi Question 15
										p Give Funda
										img(src="https://i.imgur.com/nG8CaT0.jpeg" alt="" style="width: 100%")
										input(type="text" name="ans15" placeholder="Answer")

								
								.flex-center
									//- button.button-primary.save.cool#prevBtn(type='button' onclick='nextPrev(-1)') Previous
									button.button-primary.save.cool#nextBtn(type='button' onclick='nextPrev(1)') Next

	script(src="/js/main.js")
